html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
}

img {
  max-width: 100%;
}

.weather {
  position: relative;
  height: 100%;
  background: #000;
  color: #FFF;
  font-family: 'Oswald', sans-serif;
}

.weather-logo {
  margin: 0;
  position: absolute;
  width: 100%;
  background: rgba(0,0,0,0.2);
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

.weather-logo img {
  max-width: 200px;
}

.weather-location {
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
}

@media all and (max-width: 800px) {
  .weather-location {
    width: 100%;
    height: 50%;
    float: none;
  }
}

.weather-location-inner {
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
}

.weather-mars .weather-location-inner {
  background-image: url('../images/mars.jpg');
}

.weather-details {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  background: rgba(0,0,0,0.6);
}

.weather-details-icon {
  float: left;
  padding: 5px 10px 5px 0;
}
.weather-details-icon img {
  height: 80px;
}
.weather-details-strip {
  overflow: hidden;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.weather-details-temperature {
  padding: 5px 15px;
  border-left: 1px solid rgba(255,255,255,0.25);
  border-right: 1px solid rgba(255,255,255,0.25);
  flex-grow: 2;
}

.weather-details-temperature-text {
  font-size: 2.5em;
  margin: 5px 0;
}

@media all and (max-width: 800px) {
  .weather-details-strip {
    margin-top: 5px;
  }
  .weather-details-temperature-text {
    font-size: 1.5em;
  }
}

.weather-details-temperature span {
  font-size: 0.5em;
  position: relative;
  top: -5px;
}

.weather-details-wind {
  padding: 5px 0 5px 10px;
  text-align: center;
  flex-grow: 1;
}

.weather-details-wind-compass {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('../icons/compass.svg') 0 0 no-repeat;
  background-size: contain;
  margin: 5px 0;
}

.weather-details-wind-arrow {
  width: 30px;
  height: 30px;
  background: url('../icons/arrow.svg') 0 0 no-repeat;
  background-size: contain;
  }

  .spinner {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
  }

  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #CCC;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
  }

  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  @-webkit-keyframes bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }

  @keyframes bounce {
    0%, 100% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
