html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h2 {
  font-size: 1em;
  font-weight: normal;
}

img {
  max-width: 100%;
}

a {
  color: #FFF;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
