.weather {
  position: relative;
  height: 100%;
  min-height: 300px;
  background: #000;
  color: #FFF;
  font-family: 'Oswald', sans-serif;

  @media all and (max-width: 1000px) {
    min-height: 480px;
  }

  &-top {
    position: absolute;
    background: rgba(0,0,0,0.2);
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    padding: 8px;
  }

  &-logo {
    width: 200px;
    max-width: 45%;
    margin: 0;
  }

  &-date {
    position: absolute;
    right: 10px;
    top: 10px;

    &-details {
      font-size: 0.75em;
    }

    &:before {
      display: inline-block;
      content: '';
      background: url('/icons/calendar.svg') 50% 50% no-repeat;
      width: 14px;
      height: 1em;
      margin-top: -2px;
      vertical-align: middle;
      margin-right: 5px;
      opacity: 0.5;
    }
  }

  &-location {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;

    @media all and (max-width: 1000px) {
      width: 100%;
      height: 50%;
      float: none;
    }


    &-inner {
      background-position: 50% 50%;
      background-size: cover;
      height: 100%;
    }

  }

  &-mars &-location-inner {
    background-image: url('/images/mars.jpg');
  }

  &-details {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em;
    background: rgba(0,0,0,0.6);

    &-location {
      &:before {
        display: inline-block;
        height: 1em;
        content: '';
        background: url('/icons/location.svg') 50% 50% no-repeat;
        width: 14px;
        height: 1em;
        margin-top: -2px;
        vertical-align: middle;
        margin-right: 5px;
        opacity: 0.5;
      }
    }

    &-icon {
      float: left;
      padding: 5px 10px 5px 0;

      img {
        height: 80px;
      }
    }

    &-strip {
      overflow: hidden;
      margin-top: 10px;
      @include display(flex);
      @include align-items(center);

      @media all and (max-width: 1000px) {
        margin-top: 5px;
      }
    }

    &-temperature {
      padding: 5px 15px;
      border-left: 1px solid rgba(255,255,255,0.25);
      border-right: 1px solid rgba(255,255,255,0.25);
      @include flex(2);

      &-text {
        font-size: 2.5em;
        margin: 5px 0;

        @media all and (max-width: 600px) {
          font-size: 1.2em;
        }
      }

      span {
        font-size: 0.5em;
        position: relative;
        top: -5px;
      }
    }

    &-wind {
      padding: 5px 0 5px 10px;
      text-align: center;
      @include flex(1);

      &-compass {
        display: inline-block;
        width: 30px;
        height: 30px;
        background: url('/icons/compass.svg') 0 0 no-repeat;
        background-size: contain;
        margin: 5px 0;
      }

      &-arrow {
        width: 30px;
        height: 30px;
        background: url('/icons/arrow.svg') 0 0 no-repeat;
        background-size: contain;
      }
    }
  }
}
